<tr>
  <td><%= order.order_number %></td>
  <td title='Average days for delivery: <%= @vendors[order.vendor_id][:delivery_time_average].abs %>'>
    <%= vendor_name(order) %>
  </td>
  <td><%= order.tracking_number %></td>
  <td><%= order.created_at %></td>
  <td><%= order.delivered_at %></td>
  <td><%= order.days_for_delivery.abs %></td>
  <td><%= order_delivery_status_badge(order) %></td>
</tr>
