<div class="row">
  <div class="col-lg-12">
    <h3>Out of Normal Deliveries</h3>
    <%=  search_form_for(@q, url: out_of_normal_deliveries_path, class: 'form-inline') do |f| %>
      <div class="form-group">
        <%= f.label :order_number_cont %>
        <%= f.search_field :order_number_cont, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tracking_number_cont %>
        <%= f.search_field :tracking_number_cont, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :vendor_name_cont %>
        <%= f.search_field :vendor_name_cont, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-default' %>
    <% end %>

    <br>
      <%= will_paginate @orders %>
    <br>


    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Vendor</th>
          <th>Tracking Number</th>
          <th>Shipped on</th>
          <th>Delivered at</th>
          <th>Shipping duration (days)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'dashboard/out_of_normal_order', collection: @orders, as: :order %>
      </tbody>
    </table>
  </div>
</div>
