<p id="notice"><%= notice %></p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @order.tracking_number %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @order.vendor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Delivered at:</strong>
  <%= @order.delivered_at %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
