<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PackageTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= current_page?(:dashboard, :index) ? 'active' : '' %>">
          <%= link_to 'Orders to Deliver', root_path %>
        </li>
        <li class="<%= current_page?(:dashboard, :out_of_normal_deliveries) ? 'active' : '' %>">
          <%= link_to 'Out of Normal Deliveries', out_of_normal_deliveries_path %>
        </li>
        <li class="<%= current_controller?(:vendors) ? 'active' : '' %>">
          <%= link_to 'Vendors', vendors_path %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
